<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:label="Student Management"
        android:supportsRtl="true"
        android:theme="@style/Theme.StudentManagement">

        <activity android:name=".profile.ProfileActivity" />
        <activity android:name=".dashboard.DashboardActivity" />
        <activity android:name=".dashboard.FacultyDashboardActivity" />
        <activity android:name=".dashboard.AdminDashboardActivity" />
        <activity android:name=".auth.RegisterActivity" />
        <activity android:name=".auth.LoginActivity" />
        <activity android:name=".assignment.AssignmentActivity" />
        <activity android:name=".assignment.AssignmentDetailsActivity" />
        <activity android:name=".notification.NotificationActivity" />
        <activity
            android:name=".auth.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>
</manifest>
